.flip {
    padding: 0 3em 7em 3em;
    font-size: 140%;

    > .prev {
        float: left;
    }
    > .next {
        float: right;
    }

    @include breakpoint('<=small'){
        padding: 0 1.5em 1em 1.5em;
        height: 8em;
        font-size: 110%;
    }
}